body {
    font-family: "Times New Roman", sans-serif;
}
.header {
    font-size: 3.5em;
}
.sub-header {
    font-size: 2.5em;
}
.list-group {
    list-style: none;
}
.divider {
    margin-top: 30px;
    height: 5px !important;
    color: green;
}
@media only screen and (min-width: 992px) {
    .list-group {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .column-left {
        display: flex;
        flex-direction: column;
        width: 40%;
    }
    .dev-right {
        clear: left;
        width: 60%;
    }
}
