#map {
    display: flex;
    width: 90%;
    height: 45vh;
    margin: 20px auto;
}
.container {
    display: flex;
    width: 90vw;
}
.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 47vh;
    border-radius: 50px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}
.panel.active {
    flex: 5;
}
.panel h5 {
    font-size: 20px;
    margin: 10px auto;
    text-align: center;
    opacity: 0;
}
.panel p {
    font-size: 15px;
    opacity: 0;
    margin: 5px auto;
    text-align: center;
}
.panel.active h5 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
.panel.active p {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
.panel.active span {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
.panel hr {
    opacity: 0;
}
.panel.active hr {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
